/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */



/* IMPORT FONTS FROM /assets */
@font-face {
    font-family: 'HIROMISAKE';
    src: url('./assets/fonts/HIROMISAKE.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'SATOSHI';
    src: url('./assets/fonts/Satoshi-Regular.woff') format('woff');
    font-style: normal;
}

body{
    background-color: #F3EDE1;
}

/* HEADER STYLING */
.header{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 80px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #E9DAC6;
    
    display: flex;
    justify-content: space-evenly;
    color: #333F72;
    font-family: 'SATOSHI';
    font-weight: 500;   
}

.header .logo{
    font-family: 'HIROMISAKE';
    font-size: 25px;
}

.header .links{
    text-decoration: none;
    width: 382px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

.header .links a{
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.header .links a:hover{
    color: #E56E0C;
    cursor: pointer;
}

.header .icons{
    width: 72px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.header .icons a img{
    width: 24px;
    height: 24px;
}

/* HOME MAIN STYLING */
.main{
    padding-top: 60px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
}

.main .title{
    font-family: 'HIROMISAKE';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    color: #333F72;
    text-align: center;
}

.main .description{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #333F72;
    width:620px;
    height:auto;
    text-align: center;
}

.main .orderBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 200px;
    height: 60px;
    background: #E56E0C;
    border-radius: 24px 0px;
    border-style: inherit;
    font-family: 'HIROMISAKE';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF
}

.main .orderBtn:hover{
    background-color: #333F72;
    cursor: pointer;
}

.main-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
}

.main-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
}

.backgroundImg1{
    position: absolute;
    left: 0px;
}

.backgroundImg2{
    position: absolute;
    right: 0px;
}

/* MENU STYLING */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    gap:60px;
}

.menu .title{
    font-family: 'HIROMISAKE';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333F72;
    align-self: center;
}

.menuItemCards{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.menuItemCard{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
    border: solid;
    border-radius: 40px 0px;
    border-width: 1px;
    /* border-style: inherit; */
}

.menuItemCard .cardOrderBtn{
    width: 242px;
    height: 60px;
    border: 1px solid #E56E0C;
    border-radius: 24px 0px;
    color: #E56E0C;
    font-family: 'HIROMISAKE';
    font-size: 20px;
    background-color: inherit;
}

.menuItemCard .cardOrderBtn:hover{
    background-color:#333F72;
    cursor: pointer;
}

.menuItemCard .menuItemName{
    font-family: 'HIROMISAKE';
    font-style: normal;
    font-size: 32px;
    color: #333F72;
}

.menuItemCard .description{
    text-align: center;
    font-family: "SATOSHI";
    width: 80%;
}

/* ABOUT STYLING */
.about{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 30px;
}

.about .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.about .description .aboutTitle{
    font-family: 'HIROMISAKE';
    font-size: 48px;
    line-height: 120%;
    color: #333F72;
}

.about .description .descriptionText{
    width: 900px;
    text-align: center;
    font-family: 'Satoshi';
    font-style: normal;
    font-size: 20px;
    line-height: 140%;
    color: #333F72;
}

.testimonials{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.testimonials .testimonialsTitle{
    font-family: 'HIROMISAKE';
    font-size: 48px;
    line-height: 120%;
    color: #333F72;
}
.testCards{
    display: flex;
}

.dialog{
    position: relative;
    bottom: 330px;
    left: 80px
}

.dialog .dialogText{
    width:300px;
    position: relative;
    bottom: 120px;
    left: 50px;
    font-family: 'Satoshi';
    font-size: 15px;
    line-height: 140%;
    color: #333F72;
}

#one{
    position: relative;
    top:100px;
    right: 100px;
}

#two{
    position: relative;
    top:200px;
    right: 30px;
    
}

#three{
    position: relative;
    left:400px;
    top: 100px;
    
}

#three .dialog{
    position:relative;
    left:-340px;
}

/* CONTACT STYLING */

.contacts{
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-family: 'Satoshi';
    color: #333F72;
    gap:30px;
}

.reservations{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.here{
    text-decoration: none;
    color:#E56E0C;
}





