/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */



/* IMPORT FONTS FROM /assets */
@font-face {
    font-family: 'HIROMISAKE';
    src: url('./assets/fonts/HIROMISAKE.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'SATOSHI';
    src: url('./assets/fonts/Satoshi-Regular.woff') format('woff');
    font-style: normal;
}

body{
    background-color: #F3EDE1;
}

/* HEADER STYLING */
.header{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 80px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #E9DAC6;
    
    display: flex;
    justify-content: space-evenly;
    color: #333F72;
    font-family: 'SATOSHI';
    font-weight: 500;   
}

.header .logo{
    font-family: 'HIROMISAKE';
    font-size: 25px;
}

.header .links{
    text-decoration: none;
    width: 382px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

.header .links a{
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.header .links a:hover{
    color: #E56E0C;
    cursor: pointer;
}

.header .icons{
    width: 72px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.header .icons a img{
    width: 24px;
    height: 24px;
}

/* HOME MAIN STYLING */
.main{
    padding-top: 60px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
}

.main .title{
    font-family: 'HIROMISAKE';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    color: #333F72;
    text-align: center;
}

.main .description{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #333F72;
    width:620px;
    height:auto;
    text-align: center;
}

.main .orderBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 200px;
    height: 60px;
    background: #E56E0C;
    border-radius: 24px 0px;
    border-style: inherit;
    font-family: 'HIROMISAKE';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF
}

.main .orderBtn:hover{
    background-color: #333F72;
    cursor: pointer;
}

.main-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
}

.main-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
}

.backgroundImg1{
    position: absolute;
    left: 0px;
}

.backgroundImg2{
    position: absolute;
    right: 0px;
}

